/* Ocultar bot贸n de Actividades (Reloj) en el Chatter */
.o-mail-Chatter-activity {
  display: none !important;
}

/* Ocultar gesti贸n de seguidores (Bot贸n de silueta y lista) en el Chatter */
.o-mail-Followers {
  display: none !important;
}

/* Si se quisiera ocultar el bot贸n de enviar mensaje, descomentar: */
/*
.o-mail-Chatter-sendMessage {
    display: none !important;
}
.o-mail-Chatter-logNote {
    display: none !important;
}
*/
